$body-bg: #ffffff;
$body-color: #7d7b7b;
$primary: #4bc0ea;

$font-size-base: 1.2rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/images";

.container {
  margin-top: 0;
  margin-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 50em;
}

.form-control {
  background-color: #dddbdb;
}

form {
  color: #4a4a4a;
}
